@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;@500;@600;@1000&display=swap");

:root{
    --black: #000000;
    --white: #ffffff;
    --main-orange: #E78F34;
    --bg-orange: #FFE6C7;
    --light-orange: #ea9c4b;
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    --transition: all 0.2s linear;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
    font-family: "Raleway", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--black);
}

a {
    text-decoration: none;
    color: inherit;
}
  
li {
    list-style: none;
}
  
img {
    height: 100%;
}
  
section {
    padding: 2rem 9%;
}

/* HEADER SECTION STARTS HERE */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 7%;
    height: 8rem;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*box-shadow: var(--box-shadow);
    border-bottom: 2px solid;
    border-bottom-color: var(--main-orange); */
    z-index: 1000;
}

.logo{
    font-weight: 1000;
    font-size: 3.7rem;
    color: var(--main-orange);
    cursor: pointer;
}

.logo i{
    padding: 0.2rem;
}

.navbar a{
    font-weight: 600;
    transition: var(--transition);
    padding: 2rem;
}

.navbar a:hover, .navbar a.active, .user_settings a:hover{
    color:var(--main-orange);
}

.header .icons div, .header .icons a{
    padding: 1.6rem;
    color: #000000;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.header .icons div:hover, .header .icons a:hover, .header .icons a.active, .header .icons div.active{
    background-color: var(--main-orange);
}

#menu-btn{
    display: none;
}

.user_settings{
    position:absolute;
    top:100%; right:7%;
    background-color:var(--white);
    border: 2.5px solid var(--main-orange);
    border-radius: 1rem;
    width:15%;
    transform:scale(0);
    transform-origin: top right;
}

.user_settings.active{
    transform:scale(1);
}

.user_settings a{
    display: block;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

@media (max-width: 996px){
    .logo{
        font-size: 3rem;
    }

    .navbar a{
        padding: 0.5rem;
    }
}

@media (max-width: 768px){
    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: fixed;
        left: 0;
        right: 0;
        padding: 2rem;
        margin: 0 auto;
        background-color: var(--white);
        text-align: center;
        border: 2.5px solid;
        border-color: var(--main-orange);
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        transition: 0.4s;
        top: -100%;
        width: 85%;
    }

    .header .navbar.active{
        top: 8rem;
        transition: .4s linear;
    }

    .header .navbar a{
        margin: 0.8rem;
        display: block;
    }

    .user_settings{
        width: 30%;
    }
}
/* HEADER SECTION ENDS HERE */

/*LANDING PAGE SECTION 1 STARTS HERE*/
.lp-section1{
    padding-top: 8rem;
    align-items: center;
    background-color: var(--bg-orange);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    padding: 13rem 9%;
}

.lp-section1 img{
    margin-top: 3rem;
    width: 100%;
    transform: scaleX(-1);
}

.lp-section1 .content h1{
    font-size: 4rem;
    font-weight: 1000;
    margin-top: 4rem;
    margin-bottom: 0.8rem;
    color: var(--main-orange);
}

.lp-section1 .content p{
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 2.2rem;
    color: var(--black);
}

.lp-section1 .content a{
    font-weight: 1000;
    color: var(--white);
    background-color: var(--main-orange);
    border: none;
    border-radius: 15px;
    padding: 1.2rem;
}

.lp-section1 .content a:hover{
    background-color: var(--light-orange);
}

@media (max-width: 996px){
    .lp-section1 .content h1{
        font-size: 3.4rem;
    }
}

@media (max-width: 768px){
    .lp-section1{
        grid-template-columns: 1fr;
    }
}
/*LANDING PAGE SECTION 1 ENDS HERE*/


/*LANDING PAGE SECTION 2 STARTS HERE*/
.lp-section2 {
    padding: 3rem 9%;
}

.lp-section2 .upper{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.lp-section2 .upper h1{
    font-size: 4rem;
    font-weight: 1000;
    margin-bottom: 0.8rem;
    color: var(--main-orange);
}

.lp-section2 .lower{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.lp-section2 .lower .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 4rem;
}

.lp-section2 .lower .box img{
    height: 18rem;
    margin-bottom: 0.8rem;
}

.lp-section2 .lower .box h3{
    font-size: 2rem;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 0.5rem;
}

.lp-section2 .lower .box p{
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 0.5rem;   
}

@media (max-width: 768px){
    .lp-section2 .lower .box{
        padding: 2rem;
    }
}
/*LANDING PAGE SECTION 2 ENDS HERE*/

/*LANDING PAGE SECTION 3 STARTS HERE*/
.lp-section3{
    background-color: var(--bg-orange);
    padding: 3rem 9%;
}

.lp-section3 .upper{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.lp-section3 .upper h1{
    font-size: 4rem;
    font-weight: 1000;
    margin-bottom: 0.8rem;
    color: var(--main-orange);
}
/*LANDING PAGE SECTION 3 ENDS HERE*/

/*LANDING PAGE SECTION 4 STARTS HERE*/
.lp-section4{
    padding: 3rem 9%;
}

.lp-section4 .upper{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.lp-section4 .upper h1{
    font-size: 4rem;
    font-weight: 1000;
    margin-bottom: 0.8rem;
    color: var(--main-orange);
}

.lp-section4 .lower{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.lp-section4 .lower .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 4rem;
}

.lp-section4 .lower .box img{
    height: 22rem;
    margin-bottom: 0.8rem;
}

.lp-section4 .lower .box h3{
    font-size: 2rem;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 0.5rem;
}

.lp-section4 .lower .box p{
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.lp-section4 .lower .box a{
    font-weight: 1000;
    font-size: 1.6rem;
    color: var(--white);
    background-color: var(--main-orange);
    border: none;
    border-radius: 15px;
    padding: 1.2rem;
}

.lp-section4 .lower .box a:hover{
    background-color: var(--light-orange);
}
/*LANDING PAGE SECTION 4 ENDS HERE*/

/*FOOTER SECTION STARTS HERE*/
.footer .upper{
    background-color: var(--bg-orange);
    padding: 2rem 9%;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.footer .upper .links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.footer .upper .link h4 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
  
.footer .upper .link a {
    display: inline-block;
    color: var(--black);
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.footer .upper .link a:hover{
    color: var(--main-orange);   
}

.footer .upper .link span {
    color: var(--black);
    font-size: 1.4rem;
    font-weight: 500;
}

.footer .upper .link i {
    color: var(--main-orange);
    margin-right: 0.5rem;
}
  
.footer .upper .link a {
    display: block;
}
  
.footer .upper .link div {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.footer .lower{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    background-color: var(--main-orange);
    color: var(--bg-orange);
    font-size: 1.5rem;
    font-weight: 500;
}

@media (max-width: 996px) {
    .footer .upper {
      padding: 5rem 9%;
      grid-template-columns: 1fr;
    }
  
    .footer .upper .content {
      display: none;
    }
  }
  
  @media (max-width: 768px) {
    .footer .upper .links {
      grid-template-columns: 1fr;
      gap: 3rem 0;
    }
  
    .footer .upper .link {
      display: flex;
      flex-direction: column;
    }
  
    .footer .lower {
      padding: 1.5rem;
    }
  }


/*FOOTER SECTION ENDS HERE*/